apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlops-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mlops-app
  template:
    metadata:
      labels:
        app: mlops-app
    spec:
      containers:
      - name: mlops-container
        image: nginx
        ports:
        - containerPort: 80

