apiVersion: v1
kind: Service
metadata:
  name: mlops-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: mlops-app
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30007
